# Dependency directories
node_modules/

# Ignore npm lock files
package-lock.json
package.json

# dotenv environment variable files
.env

# Stores VSCode versions used for testing VSCode extensions
.vscode

#Ignore type file
tsconfig.json
